body {
    background-color: darkgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
.header{
    display: flex;
    padding: 0;
    margin: auto;
    align-items: center;
    width: 600px;
}
.header-wrapper{
    background-color: white;
    padding: 1rem 0 1rem;
    margin-bottom: 3rem;
}
.card {
    background-color: white;
    padding: 0;
    margin: auto;
    align-items: center;
    width: 600px;
    margin-bottom: 3rem;
}
.card-head {
    display: flex;
    justify-content: space-between;
    padding: 1rem
}
.card-body {
    display: flex;
    justify-content: center;
}
.card-foot {
    display: flex;
    padding: 1rem;
}
.bold-title{
    font-weight: bold;
}
.light-date{
    font-weight: 100;
    color: grey;
}